



@{
    ViewData["Title"] = "Index";
}


<h1>Thank you for your order!</h1>

<h2> Thank You!  </h2>

<h3> Gracias!</h3>

<h4> Danke!</h4>

<h5> Merci!</h5>

<h6> Xièxiè!</h6>

<img src="~/images/ThanksNeonSmall.jpg" />



