

@model IEnumerable<About>


@{
    ViewData["Title"] = "About";
}


<h2>  We provide the highest quality burgers for you and your family.</h2>
<h2>  We offer a money back guarantee.</h2>

<div>
    <img src="~/images/CookingBurgers.jpg" alt="Burgers" class="img-responsive" />
</div>


