

@model IEnumerable<About>


@{
    ViewData["Title"] = "About";
}



<div class="jumbotron-fluid">
<h1 class="display-4">Thank you for visiting Flavor Town Burgers</h1>
<ul>
    <li> Family owned and operated since 1982.</li>
    <li> We have a passion for quality control and customer service.</li>
    
    <h3> If they ain't from Flavor Town, they ain't burgers!</h3>
    
 
</ul>
<hr class="my-4">
   
<div class="col-md-6">  
        <img src="~/images/CookingBurgers.jpg" alt="Burgers" class="img-responsive" />
    </div>
</div>







