
@model IEnumerable<Contact>



@{
    ViewData["Title"] = "Contact";
}




<div class="jumbotron-fluid">
    <h1 class="display-4">Let's Stay In Touch</h1>

    <h2> Phone: 555.555.1234</h2>
    <h2> Headquarters: 1234 Big Beefy Lane Suite 5, San Diego CA, 92101</h2>
    <h5> Check us out on <a href="http://www.twitter.com" target="="_blank"> Twitter</a> and be our friend on <a href="http://www.facebook.com" target="_blank"> Facebook</a></h5>


    <hr class="my-6">
    <div>
        <img src="~/images/burgersongrill2.jpeg" alt="Burgers" class="img-responsive" />
    </div>
