
@model IEnumerable<Contact>



@{
    ViewData["Title"] = "Contact";
}


<h2> Please contact us by phone at 555.555.1234</h2>
<h2> Headquarters: 1234 Beefy Ln Suite 5, San Diego, CA, 92101</h2>   
<h3>  Check us out on <a href=http://www.twitter.com> Twitter</a> and be our friend on <a href=http://www.facebook.com> Facebook</a></h3>                            


